* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#heading {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
}

#desc {
  text-align: center;
  font-size: small;
  color: grey;
  margin-top: 0.5rem;
}

.main_container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 4rem;
  flex: 0 0 21%;
  gap: 1.5rem 8rem;
  flex-grow: 1;
}

.hero_img_container {
  height: 16rem;
  width: 12rem;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 1px 2px 10px rgb(224, 224, 224);
}

.img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.img_cont {
  height: 12rem;
  width: 12rem;
  flex: 0 0 21%;
}

.name {
  margin-top: 0.5rem;
  font-size: medium;
  font-weight: 600;
  text-align: center;
}

.fab {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}

#button {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.see_more {
  background-color: #ed0331;
  color: white;
  height: 2.3rem;
  width: 7rem;
  border-radius: 5px 5px 5px 5px;
  border: none;
  cursor: pointer;
}
